body {
    margin: 0;
    font-family: 'Roboto Mono';
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.container {
    width: 100%;
}

.message {
    margin: 236px 0 75px;
    text-align: center;
    font-size: 32px;
    line-height: 42px;
}

.selection-block {
    margin: auto;
    width: 1096px;
    display: flex;
    justify-content: space-between;
    gap: 75px;
}

.selection-item {
    box-sizing: border-box;
    width: 315px;
    height: 355px;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.selection-item:hover {
    cursor:pointer;
    border: 10px solid #FFB800;
}

.pick-image {
    width: 225px;
    height: 290px;
    object-fit: contain;
}

.result-message {
    font-size: 32px;
    line-height: 42px;
    margin: 0 175px 65px 193px;
    text-align: left;
}

.result-message.lose {
    text-align: right;
}

.result-page {
    margin: auto;
    box-sizing: border-box;
    width: 1440px;
    padding-top: 160px;
    padding-bottom: 70px;
}

.result-page.win {
    background: left no-repeat url('./images/you-win.svg');
}

.result-page.lose {
    background: right no-repeat url('./images/computer-wins.svg');
}

.result-image {
    mix-blend-mode: multiply;
}

.images-block {
    display: flex;
    justify-content: space-between;
    margin: 0 55px 0 101px
}

.button {
    all:unset;
    box-sizing: border-box;
    width: 380px;
    height: 72px;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 65px auto 0;
}

.button:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}