body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 947px;
    display: flex;
    justify-content: space-between;
}

.star:hover {
    cursor: pointer;
}